.world91,
.phone43,
.alarm54 {
  background: url(sprites.png) no-repeat;
}

.world91 {
  background-position: -8px -8px;
  width: 32px;
  height: 32px;
}

#phone43 {
  background-position: -60px -23px;
  width: 32px;
  height: 32px;
}

.network11 {
  background: url(sprites.png) -9px -59px;
  width: 32px;
  height: 32px;
}

.alarm54 {
  background-position: -60px -77px;
  width: 32px;
  height: 32px;
}

.unique27077 {
  background-position: -8px -8px;
  width: 32px;
  height: 32px;
}

.not-this-sprite {
  background-position: -555px -444px;
  width: 16px;
  height: 32px;
}

.unrelated-rule {
  display: block;
  color: blue;
}

.unrelated-with-bg {
  background: blue;
  font-size: 111px;
}
